chex==0.1.87
cloudpickle==3.1.0
etils==1.10.0
einops==0.8.0
flax==0.10.0
jax[cuda12]==0.4.35; sys_platform == "linux"
jax==0.4.35; sys_platform != "linux"
# The CUDA extra of JAX 0.4.35 requires jaxlib 0.4.34.
jaxlib==0.4.34
ml_collections==1.0.0
msgpack==1.0.8
numpy==2.2.6
optax==0.2.3
psutil==5.9.8
pyzmq==26.0.3
ruamel.yaml==0.18.16
tensorflow-probability==0.25.0
wandb==0.17.2

brax==0.12.1
dm_control==1.0.26
dm-env==1.6
dm-tree==0.1.8
imageio==2.34.1
matplotlib==3.9.0
mujoco==3.3.0
mujoco-mjx==3.3.0
pillow==10.3.0
playground==0.0.4
scipy==1.13.1

pandas==2.2.2
tqdm==4.66.4
